@import url('https://fonts.googleapis.com/css?family=Roboto|Share+Tech+Mono&display=swap');

* {
  box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
}


html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.nav {
	font-size: 20px;
  height: 20vh;
}

.fa-shopping-cart{
  color: #26bbae;
  font-size: 3vh;
  margin: 5px 20px 5px 5px;
}

.fa-digital-ocean {
	color: #26bbae;
	font-size: 35px;
	margin: 5px;
}
.navbar-light .navbar-brand  {
  font-size: 25px;
	font-family: 'Share Tech Mono', monospace;
	margin: 0 10px 0 10px;
}

.navbar-light .btn-primary {
	background-color: #f7f7f7;
  color: #26bbae;
	border-color: #f7f7f7;
	font-size: 20px;

}
.navbar-light .form-control  {
  border-color: #c2c2c2;
}

.container {
	margin: 15px 0;
  flex: 1 0 auto;
}
.container .row .nav-link {
  color: black;
}

.products-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.one-product{
  width:20%;
  margin: 10px 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 5px -3px black;
  position: relative;
  z-index: 3;
  padding: 10px;
  border-radius: 10px;
}
.one-product h3{
  position: relative;
  padding: 10px;
}

.one-product img{
  width: 80%;
  margin-bottom: 5%;
}

.btnProduct{
  color: black;
  padding: 8px 18px;
  background-color: rgba(70, 161, 147, 0.4);
  border-radius: 10px;
}
.btnProduct:hover{
  text-decoration: none;
  color: white
}

footer {
  background-color: rgb(40,46,48);
  flex-shrink: 0;
}

.card-footer .row .col .textDH {
  font-family: 'Share Tech Mono', monospace;
  color:white;
  /* align-self: auto; */
}
.card-footer .row .col .logo {
  color: white;
  margin: auto;
  font-size: 20px;
  padding: 5px;
}

.card-footer .row .columna  {
  margin: 13px 10px 0 10px;
  font-size: 15px;
  color: rgba(247,238,226,.89);
}

.card-footer .row .col .fa-digital-ocean{
  font-size: 25px;
}

.pro .btn-outline-secondary{
  font-size: 12px;

}

.pro{
  border-radius: 5px;
}

/*---------------- Estilos de las faqs!! ----------------------------*/
#accordionExample {
	margin-top: 70px;
	margin-bottom: 40px;
}

.card .btn {
  color: black;
  /* font-weight: bold; */

  font-size: 18px;
  /* font-family: 'Share Tech Mono', monospace; */
}
.card {
  background-color: #dfe4ea;
  text-align: center;
  color:rgb(61,66,61);
  margin-top: 2.5px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 2.5px;
}

  /*---------------- Fin estilos de las faqs!! -------------------*/
/* productos */

.contItems {
  border-style:solid;
  border: 1px solid;
  border-radius: 15px;
  padding: 10px 0px;
  margin: 15px 20px;
  box-shadow: 0 0 0 1px #26bbae;
  display: flex;
}

.prod-caja, .contItems{
   justify-content: center;
  align-items: center;
}
.prices{
  font-size: 25px;
  font-weight: bold;
}

.boton-show{
  margin: 0 80px;
  padding:0 30px;
}


/*---------------------------------------------------CARRITO*/

.table>tbody>tr>td, .table>tfoot>tr>td{
    vertical-align: middle;
}
@media screen and (max-width: 600px) {
    table#cart tbody td .form-control{
    width:20%;
    display: inline !important;
  }
  .actions .btn{
    width:36%;
    margin:1.5em 0;
  }

  .actions .btn-info{
    float:left;
  }
  .actions .btn-danger{
    float:right;
  }

  table#cart thead { display: none; }
  table#cart tbody td { display: block; padding: .6rem; min-width:320px;}
  table#cart tbody tr td:first-child { background: #333; color: #fff; }
  table#cart tbody td:before {
    content: attr(data-th); font-weight: bold;
    display: inline-block; width: 8rem;
  }



  table#cart tfoot td{display:block; }
  table#cart tfoot td .btn{display:block;}

}
