@import "design2.css";

* {
    box-sizing: border-box;
  }

  body {
      margin: 0;
      padding: 0;
      background: white;
      background-size: cover;
      font-family: sans-serif;
      height: 100vh;
    }

    .register-container {
      width: 550px;
      color: #747d8c;
      margin: 4.2% auto;
      padding: 70px 40px;
      background: #dfe4ea;
      font-weight: bold;
    }

    @media (max-width: 400px) {
      .register-container {
        width: 90%;
      }
    }

    .register-container h1 {
      margin: 0;
      padding: 0 0 20px;
      text-align: center;
      font-size: 22px;
    }

    .register-container label {
      margin: 10px 0;
      padding: 0px;
      font-weight: bold;
      display: block;
    }

    .register-container input {
      width: 100%;
      margin-bottom: 10px;
      margin-top: 0px;
    }

    .register-container button {
      width: 100%;
      margin-bottom: 20px;

    }

    .register-container input[type="text"], .register-container input[type="password"], .register-container input[type="email"] {
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      outline: none;
      height: 20px;
      color: #747d8c;
      font-size: 16px;
    }

    .register-container button[type="submit"] {
      border: none;
      outline: none;
      height: 40px;
      background: #2bbaa9;
      color: #fff;
      font-size: 18px;
      border-radius: 20px;

    }

    .register-container button[type="submit"]:hover {
      cursor: pointer;
      background: #747d8c;
    }

    .register-container a {
      text-decoration: none;
      font-size: 12px;
      line-height: 20px;
      color: darkgrey;
    }

    .register-container a:hover {
      color: #fff;
    }
.errores {
color: rgba(240,59,28,.66);
text-transform: lowercase;
}

.labelError {
  border: 1px solid rgba(240,59,28,.66)!important;

}
